@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #393E46;
    font-family: "Roboto", serif;
    color: #EEEEEE;
    font-size: 30px;
    font-weight: bold;
}

button {
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    outline: none;
}

.header {
    background: #222831;
    font-family: "Press Start 2P", serif;
    color: #00ADB5;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    gap: 50px;
}

.btn {
    background-color: #50565F;
    border-radius: 10px;
}

.sign {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 160px;
    font-size: 90px;
}

.btn:hover {
    background-color: #6B717D;
}

.score-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex: 1;
}

.winner-text {
    flex: 1;
    display: flex;
    justify-content: center;
    text-align: center;
}

.block  {
    display: block;
}

.play-again {
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    visibility: hidden;
}

.reset{
    width: 160px;
    height: 160px;
    font-size: 120px;
}